<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=h1>>, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/check-register" method="post">

    <label for="email">Enter Email</label><br>
    <input type="email" id="email" name="email" value=""><br>


    <label for="password">Enter password</label><br>
    <input type="password" id="password" name="password" value=""><br><br>


    <label for="year">Enter Batch year</label><br>
    <input type="number" min="2016" id="year" name="year" value=""><br><br>


    <input type="submit" value="Submit">

  </form> 
</body>
</html>